.departments-container {
  padding: 20px;
}

.departments-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.departments-header h2 {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
}

.departments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26vw, 1fr));
  gap: 5px;
}

.department-card {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.department-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.department-card-content {
  margin-bottom: 15px;
}

.department-card-content h3 {
  margin: 0;
  color: #333;
  font-size: 18px;
}

.department-card-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
}

.button-wrapper {
  flex: 1;
  max-width: 175px;
}

.add-calculations-btn {
  width: 100%;
  height: 36px;
}

.edit-btn,
.delete-btn {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.no-departments {
  grid-column: 1 / -1;
  text-align: center;
  padding: 1.5rem;
  padding-top: 0;
  background: #f8f9fa;
  border-radius: 12px;
  color: #666;
}

.no-departments p {
  font-size: 1.1rem;
}

.no-departments-actions {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.back-btn {
  margin-right: 10px;
}
