.save-report-modal {
  font-family: 'HeliosCondC';
  padding: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.form-group .ant-picker {
  width: 100%;
  border-radius: 8px;
}

/* Кнопки */
.ant-btn {
  font-family: 'HeliosCondC' !important;
}

/* обязательные поля и footer */
.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 16px 24px;
  border-top: 1px solid #f0f0f0;
  margin: 0 -24px -24px;
  z-index: 10;
  font-size: 14px;
}
