.delete-department-confirmation {
  padding: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-content {
  max-width: 400px;
  text-align: center;
}

.confirmation-text {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}
