@font-face {
  font-family: "HeliosCondC";
  src: url("./HeliosCond/HeliosCond-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondC";
  src: url("./HeliosCond/HeliosCond-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "HeliosCondBlack";
  src: url("./HeliosCond/HeliosCond-Italic.woff") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondBlack";
  src: url("./HeliosCond/HeliosCond-BoldItalic.woff") format("truetype");
  font-style: italic;
  font-weight: bold;
}